<div class="details-container">
    <button [routerLink]="'/'">Back to List</button>
    <img [src]="pokemon?.sprite" alt="{{ pokemon?.name }}" />
    <h1>{{ pokemon?.name}}</h1>
    <div class="types">
        <label>Types: </label>
        <p>{{ pokemon?.types}}</p>
    </div>
    <div class="abilities">
        <label>Abilities: </label>
        <p>{{ pokemon?.abilities}}</p>
    </div>
    <div class="abilities">
        <label>Stats: </label>
        <p>{{ pokemon?.stats}}</p>
    </div>    
</div>